body, input, button, select {
  font-family: 'Open Sans', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;

  &__item {
    font-size: 12px;
    font-weight: 700;
    color: $gray_color;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;

    &:hover {
      color: $black_color;
    }
  }
}

.text {
  color: $gray_color;
  &__md {
    font-size: 14px;
    font-weight: 600;
  }
}

.btn {
  border-radius: 4px;
  height: 40px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;

  &--green {
    background: $green_color;
    color: $white_color;

    &:hover {
      background-color: $green_color_light;
      border-color: transparent;
    }
  }
}
