@media only screen and (max-width: 1200px) {
}

//Mobile menu break point
@media only screen and (max-width: 767px) and (min-width: 240px) {
  //Header section
  .header {
    &__container {
      padding: 0;
    }

    &__top {
      display: none;
    }

    &__nav {
      padding: 30px 18px;
      padding-bottom: 20px;
      justify-content: space-between;
      background: $white_background_color;
      &__left {
        flex-direction: column;
      }

      &__right {
        display: none;
      }

      &__toogle {
        display: block;
      }

      &__logo {
        &__light {
          display: none;
        }

        &__dark {
          display: block;
        }
      }
    }
  }

  //Menu
  .menu {
    flex-direction: column-reverse;
    margin-top: 30px;
    display: none;

    &__item {
      &__link {
        color: $gray_color;
        padding-bottom: 20px;
      }

      &--has-child::after {
        border: 1px solid $gray_color;
        border-width: 0 1px 1px 0;
      }
    }
  }
}
