.main {
  background: $gray_light_color;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 40px 0px;
  min-height: calc(100vh - 60px);
}

.product-section {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px;

  &__list {
  }
}

.flag {
  &:after {
    content: '';
    width: 0;
    height: 0;
  }

  &--gray:after {
    border-top: 40px solid #D5D8DC;
    border-right: 40px solid transparent;
  }

  &--red:after {
    border-top: 40px solid #E74C3C;
    border-right: 40px solid transparent;
  }
}

.product {
  height: 140px;
  background: $white_color;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 40px 0px;
  max-width: 920px;
  margin: 15px auto;
  display: flex;
  width: 100%;
  position: relative;

  .flag:after {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__thumb {
    width: auto;
    height: 100%;
  }

  &__header {
    height: 140px;
    padding: 10px;
  }

  &__content {
    background: $gray_light_2_color;
    flex-grow: 1;
  }

  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 120px;
  }
}
