//color
$white_color: #fff;
$gray_color: #777;
$green_light: #7ed56f;
$green_light_opacity: rgba(126, 213, 111, 0.8);
$green_medium: #55c57a;
$green_dark: #28b485;
$green_dark_opacity: rgba(40, 180, 133, 0.8);

//size
$max-width: 1200px;
