//color
$overlay_color: rgba(0,0,0,.2);
$blue_color: #3498db;
$white_color: #fff;
$black_color: #333;
$gray_color: #777;
$white_line_color: rgba(255, 255, 255, 0.3);
$white_background_color: rgba(255, 255, 255, 0.9);

//size
$max-width: 1200px;
