//color
$overlay_color: rgba(0,0,0,.2);
$blue_color: #3498db;
$white_color: #fff;
$black_color: #333;
$black_light_color: rgb(51, 51, 51);
$gray_color: #777;
$gray_line_color: rgba(255, 255, 255, 0.5);
$pink_color: #e74c3c;
$white_line_color: rgba(255, 255, 255, 0.3);
$white_background_color: rgba(255, 255, 255, 0.9);
$gray_background_color: #f4f4f4;
$navi_background_color: #2c3e50;

//size
$max-width: 1200px;
